@keyframes fadeIn {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes progress-fill {
  0% {
    background: linear-gradient(90deg, $colour-primary, $colour-secondary, 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  100% {
    background: linear-gradient($colour-primary, $colour-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0);
  }
}

// background: linear-gradient(160deg, red, red 60%, white 60%, white);

@keyframes checkanimation {
  0% {
    transform: translateX(100%) rotate(0turn);
  }
  100% {
    transform: translateX(0%) rotate(4turn);
  }
}
