// ANIMATION CARTES
@keyframes fadeIn {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

// ANIMATION LOADING SPINNER
@keyframes fadeOut {
  0% {
    transform: scaleY(100%);
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scaleY(100%);
  }
  100% {
    transform: scaleY(0%);
    opacity: 0;
  }
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// ANIMATION LIKE
@keyframes progress-fill {
  0% {
    background: $colour-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  100% {
    background: $colour-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: transparent;
  }
}

// ANIMATION CHECK
@keyframes checkanimation {
  0% {
    transform: translateX(100%) rotate(0turn);
  }
  100% {
    transform: translateX(0%) rotate(4turn);
  }
}
