.image-accueil {
  width: 100%;
  height: 260px;
  object-fit: cover;
}
.nommenu {
  background-color: $colour-cleargrey;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  border-radius: 30px 30px 0 0;
  position: absolute;
  z-index: auto;
  margin-top: -40px;
  padding-top: 30px;
  .fa-heart {
    font-size: 24px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    margin: 15px 15px 0 0;
    padding-top: 0px;
    @include like;
    :hover {
      animation: progress-fill 400ms;
    }
  }
}

.menu {
  background-color: $colour-cleargrey;
  padding: 60px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    border-bottom: 3px solid $colour-tertiary;
    width: 40px;
    padding-bottom: 5px;
  }
  .card {
    @include card;
    height: 70px;
    cursor: url(hand.cur), pointer;

    article {
      align-items: initial;
      .etiquette {
        height: 50px;
        width: 75%;
        transition: width 500ms ease-in;
        &:hover {
          width: 64%;
        }
        &:hover + .selectplate {
          transform: translateX(0px);
        }
        &:hover + .selectplate .fa-check-circle {
          animation: checkanimation 500ms;
        }
        &:hover + .selectplate .prix {
          transform: translateX(100%);
        }
        p {
          height: 22px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        h3 {
          height: 22px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
      .selectplate {
        background-color: $colour-tertiary;
        width: 20%;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
        .prix {
          margin: 35px 40px 10px -70px;
          font-weight: 600;
          transform: translateX(0%);
          transition: transform 500ms;
        }
        .fa-check-circle {
          @include check;
        }
      }
    }
  }
  .card:nth-child(1) {
    animation-delay: 200ms;
  }
  .card:nth-child(2) {
    animation-delay: 300ms;
  }
  .card:nth-child(3) {
    animation-delay: 400ms;
  }
  .card:nth-child(4) {
    animation-delay: 500ms;
  }

  .commander {
    display: flex;
    align-items: center;
    // align-content: center;
    margin: 20px auto 70px auto;
  }

  @media screen and (min-width: 500px) and (max-width: 1000px) {
    .nommenu {
      margin-top: -40px;
      padding: 30px 50px 30px 50px;
    }
    .menu {
      background-color: $colour-cleargrey;
      padding: 60px 0 0 0;
      align-items: center;
      > div {
        width: 60%;
      }
      h2 {
        text-align: center;
        width: 80px;
        margin: 30px auto;
      }
      .card {
        width: 100%;
      }
    }
    .commander {
      transform: scale(1.2);
      margin-top: 40px;
    }
  }

  @media screen and (min-width: 1001px) {
    .nommenu {
      padding: 30px 0 30px 50px;
    }
    .menu {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 60px 30px 30px 30px;
      > div {
        width: 30%;
        align-content: center;
        align-items: center;
        h2 {
          margin: 30px 20px;
          width: 30px;
        }
      }
      .card {
        width: 100%;
      }
    }
    .commander {
      transform: scale(1.2);
      margin-top: 40px;
      width: 100%;
    }
  }
}
