@charset "UTF-8";
html,
body {
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

p,
.footerlink {
  font-weight: 300;
  font-size: 1rem;
}

h1 {
  font-weight: 700;
  font-size: 1.4rem;
  margin: 0 20px;
}

h2 {
  font-weight: 600;
  font-size: 1.2rem;
}

h3 {
  font-weight: 500;
  font-size: 1rem;
}

h4 {
  font-weight: 500;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: black;
  font-weight: 500;
}

h1.nomrestaurant {
  font-family: "Shrikhand", sans-serif;
  font-size: 25px;
}

.btn {
  color: white;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  border: none;
  border-radius: 50px;
  padding: 15px 20px;
  margin: 15px auto;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  min-width: 180px;
  -webkit-box-shadow: 0px 5px 10px #b8b8b8;
          box-shadow: 0px 5px 10px #b8b8b8;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 0.2s 0.1s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: opacity 0.2s 0.1s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: transform 0.3s, opacity 0.2s 0.1s, box-shadow 0.3s;
  transition: transform 0.3s, opacity 0.2s 0.1s, box-shadow 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
}

.btn:hover {
  cursor: url(hand.cur), pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.8;
  -webkit-box-shadow: 0px 5px 10px #807f7f;
          box-shadow: 0px 5px 10px #807f7f;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    -webkit-transform: scaleY(100%);
            transform: scaleY(100%);
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scaleY(100%);
            transform: scaleY(100%);
  }
  100% {
    -webkit-transform: scaleY(0%);
            transform: scaleY(0%);
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    -webkit-transform: scaleY(100%);
            transform: scaleY(100%);
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scaleY(100%);
            transform: scaleY(100%);
  }
  100% {
    -webkit-transform: scaleY(0%);
            transform: scaleY(0%);
    opacity: 0;
  }
}

@-webkit-keyframes loading-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes loading-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes progress-fill {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
    background: linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
    background: linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: transparent;
  }
}

@keyframes progress-fill {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
    background: linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
    background: linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: transparent;
  }
}

@-webkit-keyframes checkanimation {
  0% {
    -webkit-transform: translateX(100%) rotate(0turn);
            transform: translateX(100%) rotate(0turn);
  }
  100% {
    -webkit-transform: translateX(0%) rotate(4turn);
            transform: translateX(0%) rotate(4turn);
  }
}

@keyframes checkanimation {
  0% {
    -webkit-transform: translateX(100%) rotate(0turn);
            transform: translateX(100%) rotate(0turn);
  }
  100% {
    -webkit-transform: translateX(0%) rotate(4turn);
            transform: translateX(0%) rotate(4turn);
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 63px;
}

@media screen and (min-width: 1001px) {
  header {
    height: 90px;
  }
}

header .logo {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
}

@media screen and (min-width: 1001px) {
  header .logo {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

header i {
  margin: 0px -35px 3px 25px;
  width: 20px;
  font-size: 14px;
}

@media screen and (min-width: 1001px) {
  header i {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    margin-left: 60px;
  }
}

.entête {
  background: #f6f6f6;
  text-align: center;
  padding-bottom: 10px;
}

.entête__location {
  -webkit-box-shadow: inset -1px 1px 4px #9b9b9b;
          box-shadow: inset -1px 1px 4px #9b9b9b;
  background-color: #eaeaea;
  padding: 1px 0px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.entête__location i {
  margin-right: 15px;
}

@media screen and (min-width: 1001px) {
  .entête__location i {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media screen and (min-width: 1001px) {
  .entête__location h4 {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.entête__intro {
  margin: 40px;
}

.restaurants {
  background-color: #f6f6f6;
  margin-top: 70px;
  padding: 60px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

.restaurants h2 {
  margin: 35px 0;
}

@media screen and (min-width: 500px) {
  .restaurants {
    padding: 60px 80px;
  }
  .restaurants__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.card {
  margin-bottom: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px darkgray;
          box-shadow: 0px 0px 10px darkgray;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  height: 250px;
}

.card .labelnouveau {
  background-color: #99e2d0;
  color: #008766;
  position: absolute;
  right: 20px;
  margin: 13px 10px;
  border-radius: 2px;
}

.card .labelnouveau p {
  font-size: 12px;
  font-weight: 500;
  margin: 8px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card img {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card article .etiquette {
  width: 70%;
  padding: 10px 0px;
}

.card article .etiquette h3 {
  margin: 5px 10px;
}

.card article .etiquette p {
  margin: 5px 10px;
}

.card article .fa-heart {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  padding: 0 0 10px 20px;
  background: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.1px;
  -webkit-text-stroke-color: black;
}

.card article .fa-heart:hover {
  -webkit-animation: progress-fill 800ms ease-out both;
          animation: progress-fill 800ms ease-out both;
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
  .card {
    width: 48%;
  }
}

@media screen and (min-width: 1001px) {
  .card {
    width: 30%;
  }
  .card .etiquette {
    margin-left: 10px;
  }
}

footer {
  background-color: #303030;
  color: white;
  padding: 20px 20px 30px 20px;
}

@media screen and (min-width: 500px) {
  footer {
    padding: 40px 60px;
  }
}

footer .logo_footer {
  -webkit-filter: invert(100%) contrast(200%);
          filter: invert(100%) contrast(200%);
  width: 33%;
}

@media screen and (min-width: 500px) {
  footer .logo_footer {
    width: 18%;
  }
}

@media screen and (min-width: 1001px) {
  footer .logo_footer {
    margin-left: 60px;
  }
}

footer .footerelements .footerlink {
  margin-right: 80px;
  font-size: 0.9rem;
  line-height: 5px;
  color: white;
}

footer .footerelements .footerlink i {
  width: 18px;
  font-size: 11px;
  line-height: 5px;
}

@media screen and (min-width: 1001px) {
  footer .footerelements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 60px;
  }
}

.fonctionnement h2 {
  padding: 30px 0 20px 20px;
}

.fonctionnement ul {
  padding: 0 20px 0 40px;
}

.fonctionnement ul :hover {
  background-color: #f5edff;
}

.fonctionnement ul :hover i {
  color: #9356dc;
}

.fonctionnement ul li {
  background-color: #f6f6f6;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px 5px 20px -10px;
  padding: 20px;
  -webkit-box-shadow: 0px 5px 10px #b8b8b8;
          box-shadow: 0px 5px 10px #b8b8b8;
}

.fonctionnement ul li .puce {
  margin: 0 0 0 -30px;
  background-color: #9356dc;
  color: white;
  border-radius: 50px;
  width: 10px;
  height: 10px;
  font-size: 10px;
  text-align: center;
  font-weight: 500;
  padding: 5px;
}

.fonctionnement ul li i {
  margin: 0 20px 0 10px;
  color: #666666;
  font-size: 15px;
}

.fonctionnement ul li h4 {
  margin: 0 10px;
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
  .fonctionnement h2 {
    padding-left: 80px;
  }
  .fonctionnement ul {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media screen and (min-width: 1001px) {
  .fonctionnement h2 {
    padding: 30px 0 20px 120px;
  }
  .fonctionnement ul {
    padding: 0 80px 0 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .fonctionnement ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 20%;
    margin: 20px auto;
    padding: 20px;
    -webkit-box-shadow: 0px 5px 10px #b8b8b8;
            box-shadow: 0px 5px 10px #b8b8b8;
  }
  .fonctionnement ul li i {
    margin: 0 20px 0 10px;
    color: #666666;
    font-size: 15px;
  }
  .fonctionnement ul li h4 {
    margin: 0 10px;
  }
}

.image-accueil {
  width: 100%;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}

.nommenu {
  background-color: #f6f6f6;
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 30px 30px 0 0;
  position: absolute;
  z-index: auto;
  margin-top: -40px;
  padding-top: 30px;
}

.nommenu .fa-heart {
  font-size: 24px;
  position: absolute;
  bottom: 10px;
  right: 35px;
  background: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.1px;
  -webkit-text-stroke-color: black;
}

.nommenu .fa-heart:hover {
  -webkit-animation: progress-fill 3s ease-out both;
          animation: progress-fill 3s ease-out both;
}

.menu {
  background-color: #f6f6f6;
  padding: 60px 20px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.menu h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  border-bottom: 3px solid #99e2d0;
  width: 40px;
  padding-bottom: 5px;
}

.menu .card {
  margin-bottom: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px darkgray;
          box-shadow: 0px 0px 10px darkgray;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  opacity: 0;
  -webkit-animation: fadeIn 1000ms both;
          animation: fadeIn 1000ms both;
  height: 70px;
  cursor: url(hand.cur), pointer;
}

.menu .card article {
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

.menu .card article .etiquette {
  height: 50px;
  width: 75%;
  -webkit-transition: width 500ms ease-in;
  transition: width 500ms ease-in;
}

.menu .card article .etiquette:hover {
  width: 64%;
}

.menu .card article .etiquette:hover + .selectplate {
  -webkit-transform: translateX(1%);
          transform: translateX(1%);
}

.menu .card article .etiquette:hover + .selectplate .fa-check-circle {
  -webkit-animation: checkanimation 500ms;
          animation: checkanimation 500ms;
}

.menu .card article .etiquette:hover + .selectplate .prix {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.menu .card article .etiquette p {
  height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 10px;
}

.menu .card article .etiquette h3 {
  height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu .card article .selectplate {
  background-color: #99e2d0;
  width: 20%;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.menu .card article .selectplate .prix {
  margin: 35px 40px 10px -70px;
  font-weight: 600;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.menu .card article .selectplate .fa-check-circle {
  color: white;
  font-size: 26px;
  margin: 20px;
}

.menu .card:nth-child(1) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.menu .card:nth-child(2) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.menu .card:nth-child(3) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.menu .card:nth-child(4) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.menu .commander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto 70px auto;
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
  .nommenu {
    margin-top: -40px;
  }
  .nommenu h1 {
    margin-left: 60px;
  }
  .nommenu i {
    padding-right: 40px;
  }
  .menu {
    background-color: #f6f6f6;
    padding: 60px 0 0 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu > div {
    width: 60%;
  }
  .menu h2 {
    text-align: center;
    width: 80px;
    margin: 30px auto;
  }
  .menu .card {
    width: 100%;
  }
  .commander {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    margin-top: 40px;
  }
}

@media screen and (min-width: 1001px) {
  .nommenu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 40px;
  }
  .nommenu h1 {
    margin-right: 100px;
  }
  .nommenu .fa-heart {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 60px 30px 30px 30px;
  }
  .menu > div {
    width: 30%;
  }
  .menu > div h2 {
    margin: 30px 10px;
    width: 30px;
  }
  .menu .card {
    width: 100%;
  }
  .commander {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    margin-top: 40px;
    width: 100%;
  }
}

.spinnerbox {
  background-color: white;
  width: 100%;
  height: 9999px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  -webkit-animation: fadeOut 500ms 3s forwards;
          animation: fadeOut 500ms 3s forwards;
}

.spinner {
  position: fixed;
  top: 300px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top: 10px solid #99e2d0;
  opacity: 1;
  -webkit-animation: loading-spinner 2s ease-in-out infinite;
          animation: loading-spinner 2s ease-in-out infinite;
}
/*# sourceMappingURL=main.css.map */