footer {
  background-color: rgb(48, 48, 48);
  color: white;
  padding: 20px 20px 30px 20px;

  @media screen and (min-width: 500px) {
    padding: 40px 50px;
  }
  .logo_footer {
    filter: invert(100%) contrast(200%);
    width: 33%;
    @media screen and (min-width: 500px) {
      width: 18%;
    }
    @media screen and (min-width: 1001px) {
      margin-left: 60px;
    }
  }
  .footerelements {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 500px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    .footerlink {
      width: 100%;
      margin-top: 10px;
      font-size: 0.9rem;
      color: white;
      @media screen and (min-width: 500px) and (max-width: 1000px) {
        width: 50%;
      }
      @media screen and (min-width: 1001px) {
        width: 20%;
      }
    }
    .footerlink i {
      width: 18px;
      font-size: 11px;
      line-height: 5px;
    }
    @media screen and (min-width: 1001px) {
      display: flex;
      margin: 10px 60px;
    }
  }
}
