footer {
  background-color: rgb(48, 48, 48);
  color: white;
  padding: 20px 20px 30px 20px;
  @media screen and (min-width: 500px) {
    padding: 40px 60px;
  }
  .logo_footer {
    filter: invert(100%) contrast(200%);
    width: 33%;
    margin-bottom: 10px;
    @media screen and (min-width: 500px) {
      width: 18%;
    }
    @media screen and (min-width: 1001px) {
      margin-left: 60px;
    }
  }
  .footerelements {
    @media screen and (min-width: 1001px) {
      display: flex;
      margin: 10px 60px;
    }
    p {
      margin-right: 80px;
      font-size: 0.9rem;
    }
    i {
      margin-right: 10px;
    }
  }
}
