.restaurants {
  background-color: $colour-cleargrey;
  margin-top: 70px;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  h2 {
    margin: 35px 0;
  }
}
@media screen and (min-width: 500px) {
  .restaurants {
    padding: 60px 80px;
    &__cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
    }
  }
}
.card {
  @include card;
  height: 250px;
  position: relative;
  .labelnouveau {
    background-color: $colour-tertiary;
    color: #008766;
    position: absolute;
    right: 20px;
    margin: 13px 10px;
    border-radius: 2px;
    p {
      font-size: 12px;
      font-weight: 500;
      margin: 8px 10px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-position: center;
  }
  article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .etiquette {
      width: 70%;
      padding: 10px 0px;
      h3 {
        margin: 5px 10px;
      }
      p {
        margin: 5px 10px;
      }
    }
    .fa-heart {
      width: 20%;
      display: flex;
      font-size: 25px;
      padding: 0 0 10px 20px;
      @include like;
      &:hover {
        animation: progress-fill 5s;
      }
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
  .card {
    width: 48%;
  }
}
@media screen and (min-width: 1001px) {
  .card {
    width: 30%;
    .etiquette {
      margin-left: 10px;
    }
  }
}
